.App {
  padding: 20px;
}

.App input {
  padding: 10px;
  width: 400px;
  border: 2px solid;
  border-radius: 5px;
}

.App table {
  margin: 20px 0px;
}

.App table td,
th {
  padding: 10px;
  border: solid 1px #000;
  border-radius: 5px;
}
